.page-body{
    background: #f5fafd;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container{
    padding: 4rem;
    height: 100%;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
    max-width: 80%;
    padding-top: 20px; 
    line-height: 1.5rem;
}

.trust-text{
    margin-top: 1rem;
}

.page-container h3{
    color: #00bdbe;
}


.page-container b{
    color: rgb(241, 74, 74);
}

.tos-body ol li {
    margin-top: 0.5rem;
}
