.trust-body{
    background: #f5fafd;
    margin: 0;
    padding: 0;
    height: 100%;
}

.pagecontainer{
    padding: 2rem;
    height: 100%;
    background-color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
    max-width: 80%;
    padding-top: 20px; 
}

.text{
    margin-top: 1rem;
}

.pagecontainer h3{
    color: #00bdbe;
}

.pagecontainer b{
    color: rgb(241, 74, 74);
}

