body{
    background: #fff;
}

.banner{
    background: url('../../assets/about.jpg') no-repeat center center/cover;
    height: 20rem;
    width: 100vw;
    
}

.banner .bannertext{
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    line-height: 4rem;
}

.top{
    margin: 5rem;
    display: flex;
    /* justify-content: center; */


}

.top .top_left{
    text-align: left;
    width: 25rem;
    line-height: 2rem;
    /* background: #989; */
    margin-left: 17rem;
    font-size: 1.1rem;
    color: #4a4a4a;
    
}

.top .top_right{
    margin-left: 5rem;
    width: 631px;
    line-height: 2rem;
    color: #4a4a4a;
}

.mission{
    display: flex;
    background: #f5fafd;
    padding-top: 5rem;
    height: 100%;
    
}

.mission .mission_left{
    margin-right: 5rem;
    margin-left: 23rem;
}

.mission .mission_left img{
    width: 25rem;
    height: 100%;
}

.mission .mission_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    
}

.mission .mission_right h2{
    color: #00bdbe !important; 
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 2rem;
}

.mission .mission_right{
    color: #4a4a4a
}
/* #banner .bannertext h2{
    font-size: 4rem;
} */