.maincontainer{
    background: url('../../assets/parcel.jpg') no-repeat center center/cover;
    height: 60vh;
    max-width: 100%;
    text-align: center;
    color: #fff;
     margin: auto;
    overflow: auto;
    padding-top: 20px; 
}

.maincontainer h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.form-group input{
    width: 60rem;
    height: 60px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #959595;
    padding: 0.5rem;
    border-radius: 5px;
}

.form-group select{
    width: 60rem;
    height: 60px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #959595;
    border-radius: 0px;
}

.btnQ {
    padding: 1rem 2.7rem;
    border: 1px solid var(--secondary-color);
    background: #00bdbe;
    margin-top: 1rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    height: 53px
}

.btnQ:hover {
    background-color: #00bdbe;
    color: #fff;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.form-group input:focus{
    border: 1px solid #00bdbe;
}
