.maincontainer{
    background: url('../../assets/parcel.jpg') no-repeat center center/cover;
    /* height: 60vh; */
    /* max-width: 100%; */
    text-align: center;
    color: #fff;
    /* margin: auto; */
    /* overflow: auto; */
    padding: 3rem 0rem; 
}

.maincontainer h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.send-parcel .form-group form {
    width: 80%;
    max-width: 956px;
    margin: 0 auto;
}

.send-parcel .form-group input {
    height: 60px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #959595;
    padding: 0.5rem;
    width: 100%;
    border: none;
    padding-left: 26px;
}

.send-parcel .form-group select{
    height: 60px;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #959595;
    width: 100%;
    border: none;
    padding: 0px 26px;
    border-radius: 0px;
}

.btnQ {
    padding: 1rem 2.7rem;
    border: 1px solid var(--secondary-color);
    background: #00bdbe;
    margin-top: 1rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    height: 53px;
}

.btnQ:hover {
    background-color: #00bdbe;
    color: #fff;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

.form-group input:focus{
    border: 1px solid #00bdbe;
}
