
.maincontainer {
  background: url('../../assets/parcel.jpg') no-repeat center center/cover;
  height: 100%; 
  max-width: 100%; 
  text-align: center;
  color: #fff;
  margin: auto; 
   overflow: auto; 
   padding: 3rem 0rem;
 } 

.maincontainer h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.send-parcel .form-group form {
  width: 80%;
  max-width: 956px;
  margin: 0 auto;
}

.send-parcel .form-group input,
.send-parcel .form-group textarea {
  height: 60px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #959595;
  padding: 0.5rem;
  width: 100%;
  border: none;
  padding-left: 26px;
}

.send-parcel .form-group textarea {
  height: 150px;
}

.send-parcel .form-group select {
  height: 60px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #959595;
  background-color: #fff;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-radius: 0px;
}

.btnQ {
  padding: 1rem 2.7rem;
  border: 1px solid var(--secondary-color);
  background: #00bdbe;
  margin-top: 1rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  height: 53px;
}

.btnQ:hover {
  background-color: #00bdbe;
  color: #fff;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  transition: all 0.3s ease-in-out;
}

button.clearBG {
  background-color: none !important;
  background: none !important;
  border: none !important;
}

.form-group input:focus {
  border: 1px solid #00bdbe;
}

.country_div {
  display: flex;
  /* margin: auto; */
  justify-content: space-between;
}

.country_div > div {
  flex: 1;
  display: flex;
}

.country_div > div select {
  flex: 1;
  outline: none;
  border: none;
  background: #fff;
}

.country_div > div label {
  background-color: #fff;
  color: #201f1f;
  height: 60px;
  line-height: 60px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0rem 1rem;
  margin-right: -5px;
  font-size: 0.8rem;
  font-weight: bold;
}

.country_div > div:first-child {
  margin-right: 1rem;
}

.country_div select:first-child {
  margin-right: 1rem;
}

.search_div {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.search_div input:first-child {
  margin-right: 1rem;
}

.search_div input {
  height: 60px;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #959595;
  padding: 0.5rem;
  width: 32.8%;
  border: none;
  padding-left: 26px;
}
.medium{
  width: 150px;
  font-size: 10px;
  padding: 20px;
}
.button-group{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 0px;
}
.inverse-btnQ{
  background-color: white;
  color: #00bdbe;
}
.inverse-btnQ:hover{
  background-color: white;
  color: #00bdbe;
}
.medium:first-child{
  margin-right: 30px;
}

.popupInput {
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  height: 50px;
  width: 40%;
  border: 0.5px solid rgba(0, 189, 190, 0.4);
  border-radius: 4px;
  color: #424242;
}
button:disabled,
button[disabled]{
  background-color: #00bdbe;
  color: white;
  opacity: 0.6;
}
.transactions .table-header-shift{
  position: relative;
  right: 50px;
}
.transactions .table-header-shift-trav{
  position: relative;
  right: 30px;
}