#travel-container{
    padding: 0.5rem;
    margin: 1rem 10rem;
    display: flex;
    justify-content: center;
    height: 100%;
    /* background: #00bdbe; */
}


#travel-container .card{
    background: #fff;
    height: 300px;
    width: 550px;
    margin: 10px;
    padding: 2rem;
    display: flex;;
    justify-content: space-around;
    
    
}

#travel-container .card-left{
    
}


#travel-container .card-left .button{
    border: 1px solid #0071bc;
    background: #0071bc;
    color: #fff;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 3px;
    margin-top: 2.5rem;
    font-size: 0.8rem;
    text-transform: uppercase;

}


