a {
    text-decoration: none;
}

.links{
    list-style: none;
    text-decoration: none;
}

.footerdiv {
    padding: 3rem 2rem;
}

.footer {
    display: flex;
    /* margin: 0rem 1rem; */
    justify-content: space-around;
}

.footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    /* margin-left: 7rem; */
}

.footer ul li {
  margin-right: 1.5rem;
}

.footer ul li:last-child {
  margin-right: 0rem;
}

.footer ul li a {
  color: #333;
  opacity: 0.85;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer img {
    height: 100%;
}

.footer_icons {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.footer_icons a i {
    color: var(--primary-color);
}

.fab {
    margin-right: 0.7rem;
}

.footer_links {
    margin-left: 20rem;
    display: flex;
}

.copyright {
    text-align: center;
    /* margin: 3rem; */
}

.footerdiv hr {
    width: 80%; 
    text-align: center; 
    margin: 1.5rem auto;
    /* margin-left: 12rem; */
}