.banner {
    display: flex;
    background: url('../../assets/default.jpg') no-repeat center center/cover;
    height: 200px;
    font-size: 3.2rem;
    align-items: center;
    color: #fff;
    justify-content: center;
    /* font-weight: bold; */
    letter-spacing: -0.87px;
}

.card{
    background: #fff;
    border: 1px solid #fff;
    height:300px;
}