@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';
.banner {
    display: flex;
    background: url('../../assets/default.jpg') no-repeat center center/cover;
    height: 200px;
    font-size: 3.2rem;
    align-items: center;
    color: #fff;
    justify-content: center;
    /* font-weight: bold; */
    letter-spacing: -0.87px;
}

.card {
    background: #fff;
    border: 1px solid #fff;
    height:300px;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    padding: 50px;
    z-index: 999999;
}

.modals {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    max-width: 500px;
    min-height: 100px;
    margin: 0 auto;
    display: block;
    padding: 30px;
    color: #000;
    outline: none;
    text-align: left;
}

.closer{
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: #00bdbe;
    font: 1em sans-serif;
    border: 1px solid #00bdbe;
    color: white;
    outline: none;
    display: block;
}
.footer{
    float: right;
}
.modals h2{
    margin: 60px 30px 0px 20px;
    font-family: HelveticaNeue;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
}

