@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

:root{
    --primary-color:rgba(0, 113, 188);
    --secondary-color:rgba(0, 189, 190);
}



html, body{
    line-height: 1.2em;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: HelveticaNeue, */
    font-family: 'Arimo', sans-serif;
    background: #f1f5f4;
}

.container{
    margin: auto;
    max-width: 80%;
    overflow: auto;
    height: 10vh;
    padding-top: 20px; 
}


.clr{
    clear: both;
}

.py-1{ padding: 10px 0px; }
.py-2{ padding: 20px 0px; }
.py-3{ padding: 30px 0px; }

#navbar {
    background: #fff;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    color: #000;
    overflow: auto;
    padding: 2rem 4rem;
    flex-wrap: nowrap;
    position: fixed;
    position: sticky;
    top: 0;
}

 #navbar .logo{
    margin-top: 0.3rem;
} 

#navbar a{
    color: #000;
    text-decoration: none;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

#navbar ul li a{
    color: #333;
    padding: 0.75rem 1rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background:var(--primary-color);
    color: #fff;
    border-radius: 5px;
}

.menu-bars {
    display: none;
}

.menu-links {
    transition: all ease-in-out 1.5s;
}

#showcase {
    background: url('../src/assets/showcase.png') no-repeat center center/cover;
    height: 800px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-content{
   padding: 10%;
   max-width: 75%;
   line-height: 4rem;
   text-align: center;
   /* margin-left: 15%; */
}

#showcase .showcase-content h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}

#showcase .showcase-content p{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.2rem;
}

#works {
    text-align: center;
    padding: 100px 0px;
    /* margin-top: 100px;
    height: 550px; */
}

#works h2{
    font-size: 3rem;
    font-weight: bold;
}

#works .send_travel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
}

#works .send_travel p{
    border: 2px solid var(--secondary-color);
    margin: 10px;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 1rem;
    color: #00bdbe;
}

#works .send_travel .lighter{
    border: 2px solid rgba(0, 189, 190, 0.2);
    margin: 10px;
    padding: 12px 25px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 1rem;
    color: #00bdbe;

}

#works_box{
    margin-top: 4rem;
    margin-left: 5rem;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;  

}

#works_box .works_item img{
    height: 100%;
}

#works_box .works_item:nth-child(2) img{
    margin-top: 30px;
}

#works_box .works_item p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-top: 2rem;
}




#cargo {
    background: url('../src/assets/shippers.jpg') no-repeat center center/cover;
    height: 600px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cargo h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#cargo p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.cargo_buttons{
    display: flex;
    justify-content: center;
}

.cargo_items{
    margin: 0.625rem;
    border: 1px solid var(--secondary-color);
    padding: 1.2rem 2rem;
    border-radius: 4px;
    font-size: 0.9rem;
}

.cargo_items:first-child{
    background: var(--secondary-color);
}

#faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 47rem;
    
}

#faqs h2 {
    margin-bottom: 3.5rem;
}

.faqitem {
        background: #fff;
        padding: 1rem 2rem;
        text-align: start;
        margin: 0.20rem 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.faqitem:nth-child(2) {
    background: var(--secondary-color);
    color: white;
}

.faqitem:nth-child(2) .fas{
    color: white;
    border: 2px solid #fff;
}

.faqitem:nth-child(3){
    background: #f1f5f4;
    line-height: 1.5 rem;
    font-display: thin;
    color: rgb(94, 94, 94);
    display: inline-block;
}

.faqitem h3{
    font-size: 0.95rem;
}

.fa-question {
    border: 2px solid black;
    padding: 3px;
    border-radius: 3px;
}

#faqs h2{
    font-size: 3rem;
    margin-top: -0.57rem;
}

.btnQ{
    padding: 1.3rem 2.7rem;
    border: 1px solid var(--secondary-color);
    background: inherit;
    margin-top: 2rem;
    font-size: 1rem;
    color: #00bdbe;
    border-radius: 3px;
    line-height: normal;
}

.cta_send{
    background: url('../src/assets/sendparcel.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    align-content: center;
}

.cta_send .main{
    margin-top: 111px;
    font-size: 3.125rem;
}

.cta_send .cta_box{
    display: flex;
    justify-content:center ;
    margin-top: 2rem;
}

.cta_items{
margin: 10px;
font-size: 1rem;
padding: 1.3rem 2.8rem;
border-radius: 4px;
border: 1px solid var(--secondary-color);
background:var(--secondary-color);
color: #fff;
    
}

.cta_items:nth-child(2){
    padding: 1.3rem 2.5rem;
    border: 1px solid #fff;
    background: inherit;
}

footer{
    margin: 0rem 3rem;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.footer ul{
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 7rem;
  
}

.footer ul li{
  margin: 0 1.6rem;

}

.footer img{
    height: 100%;
    margin: 1.7rem 0rem 0rem 9rem;
}

.footer p{
    margin: 3rem 1rem 2rem 1rem;

}

.footer_icons{
    margin: 2.7rem 6rem 2rem 10rem;
    font-size: 1.7rem;
    color: #333;
    
}

.fab{
    margin-right: 0.7rem;
}

.footer_links{
    margin-left: 20rem;
display: flex;
}

.copyright{
    text-align: center;
    margin: 3rem;
}

.footerdiv hr{ 
    width: 80%; 
    text-align: center; 
    margin-left: 12rem }




