@media(max-width: 375px){
    #navbar {
    flex-direction: column;
}


 
#navbar ul{
    display: none;
}

#showcase {
    background: url('../src/assets/showcase.png') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    color: #fff;
}

#showcase .showcase-content{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    max-width: 100%;
    margin-left: 0px;
}


#showcase .showcase-content h2{
    font-size: 1.7rem;
    margin: 0;
    line-height: 3rem;
    
}

#showcase .showcase-content p{
    /* font-size: 1rem;
    font-weight: normal;
    line-height: 2.2rem; */

    display: none;
}

#works h2{
    font-size: 2rem;
    margin-top: 30px;
}

#works {
    text-align: center;
    margin-top: 70px;
    height: 500px;
}

#works .send_travel p{
    border: 2px solid #00bdbe;
    margin: 10px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #00bdbe;
}

#works .send_travel .lighter{
    border: 2px solid rgba(0, 189, 190, 0.2);
    margin: 10px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.8rem;
    color: #00bdbe;

}

#works_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-left: 1rem;
}

#works_box .works_item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;


}

#works_box .works_item:nth-child(2) img{
    margin-top: 0px;
}



#works_box .works_item img{
    height: 60px;
    width: 60px;
    
}

#works_box .works_item:first-child img{
    height: 67px;
}

#works_box .works_item p{
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.2rem;
    margin-left: 12px;
}
}