@media (max-width: 375px){
#navbar {
    padding: 2rem;
}

body{
    color: #333;
}
 
/* #navbar ul{
    display: none;
} */

.loginright, .regright {
    display: none;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcase {
    background: url('../src/assets/showcase.png') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    color: #fff;
}

#showcase .showcase-content{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    max-width: 100%;
    margin-left: 0px;
}


#showcase .showcase-content h2{
    font-size: 1.8rem;
    margin: 0;
    line-height: 3rem;
    
}

#showcase .showcase-content p{
    /* font-size: 1rem;
    font-weight: normal;
    line-height: 2.2rem; */

    display: none;
}

#works h2{
    font-size: 2rem;
    margin-top: 30px;
}

#works {
    text-align: center;
    margin-top: 70px;
    height: 500px;
    padding: 0 1rem;
}

#works .send_travel p{
    border: 2px solid #00bdbe;
    margin: 5px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #00bdbe;
}

#works .send_travel .lighter{
    border: 2px solid rgba(0, 189, 190, 0.2);
    margin: 5px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.8rem;
    color: #00bdbe;

}

#works_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0rem;
    margin-top: 1rem
}

#works_box .works_item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;


}

#works_box .works_item:nth-child(2) img{
    margin-top: 0px;
}



#works_box .works_item img{
    height: 60px;
    width: 60px;
    
}

#works_box .works_item:first-child img{
    height: 67px;
}

#works_box .works_item p{
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-left: 12px;
}

#cargo {
    background: url('../src/assets/shippers.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargo_case{
    padding: 0 1rem;
}

#cargo h2{
    font-size: 1.9rem;
    text-align: center;
    line-height: 2.5rem;
}

#cargo p{
    display: none;
}

.cargo_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cargo_items{
    padding: 1rem 1.5rem;
    border: 1px solid #00bdbe;
    margin: 0.625rem;
    border-radius: 4px;
    font-size: 0.5rem;
    text-align: center;
}

.cargo_items h3 {
    font-size: 0.7rem;
    margin: 0;
}

.cargo_items:first-child{
    background: #00bdbe;
    font-size: 0.44rem;
}

#faqs{
    display: none
}


.faqitem {
        background: #fff;
        padding: 0rem 2rem;
        text-align: start;
        margin: 0.20rem 20rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


.cta_send .main{
    font-size: 1.9rem;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 0px;
}

.cta_content{
    padding: 2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta_send .cta_box{
    display: flex;
    flex-direction: column;
}

.cta_items{
    margin: 0.625rem;
    border: 1px solid #00bdbe;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 0.7rem;
    text-align: center;
    
}

.cta_items:nth-child(2){
    margin: 0.625rem;
    border: 1px solid #00bdbe;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 0.7rem;
    text-align: center;
    
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.footer img{
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
}

.footer ul{
  display: none;
  /* margin: 0 1.2rem; */
  
}

.footerdiv hr{ 
    width: 100%; 
    text-align: center; 
    margin-left: 0rem
}

.footer_icons{
    display: flex;
    margin: 0rem 0rem 0rem 0rem;
}

.copyright{
    margin: 0rem;
    padding: 0.3rem;
}

.form-group {
    text-align: center;
}
}
