@media (max-width: 480px){
#navbar {
    padding: 2rem;
}
body{
    color: #333;
}
 
/* #navbar ul{
    display: none;
} */

.loginright, .regright {
    display: none;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showcase {
    background: url('../src/assets/showcase.png') no-repeat center center/cover;
    height: 400px;
    width: 100%;
    color: #fff;
}

#showcase .showcase-content{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    max-width: 100%;
    margin-left: 0px;
}


#showcase .showcase-content h2{
    font-size: 1.8rem;
    margin: 0;
    line-height: 3rem;
    
}

#showcase .showcase-content p{
    /* font-size: 1rem;
    font-weight: normal;
    line-height: 2.2rem; */

    display: none;
}

#works h2, #faqs h2 {
    font-size: 2rem;
    margin-top: 30px;
}

#faqs h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0rem;
}

#works {
    text-align: center;
    margin-top: 70px;
    height: 500px;
    padding: 0 1rem;
}

#works .send_travel p{
    border: 2px solid #00bdbe;
    margin: 5px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #00bdbe;
}

#works .send_travel .lighter{
    border: 2px solid rgba(0, 189, 190, 0.2);
    margin: 5px;
    padding: 8px 23px;
    border-radius: 50px;
    font-weight: lighter;
    font-size: 0.8rem;
    color: #00bdbe;

}

#works_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0rem;
    margin-top: 1rem
}

#works_box .works_item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left: 2rem;
}

#works_box .works_item:nth-child(2) img{
    margin-top: 0px;
}

#works_box .works_item img{
    max-height: 35px;
}

#works_box .works_item:first-child img {
    max-height: 45px;
}

#works_box .works_item p {
    margin: 0px 0px 0px 0px;
    font-size: 1.1rem;
    line-height: 1.2rem;
    margin-left: 12px;
}

#cargo {
    background: url('../src/assets/shippers.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100vw;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargo_case{
    padding: 0 1rem;
}

#cargo h2{
    font-size: 1.9rem;
    text-align: center;
    line-height: 2.5rem;
}

#cargo p{
    display: none;
}

.cargo_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cargo_buttons > a {
    width: 100%;
}

.cargo_items{
    /* padding: 1rem 1.5rem; */
    border: 1px solid #00bdbe;
    margin: 0.625rem;
    border-radius: 4px;
    font-size: 0.5rem;
    text-align: center;
}

.cargo_items h3 {
    font-size: 0.7rem;
    margin: 0;
}

.cargo_items:first-child{
    background: #00bdbe;
    font-size: 0.44rem;
}

/* #faqs{
    display: none
} */

.faqitem {
    /* background: #f5fafd; */
    padding: 0rem 2rem;
    text-align: start;
    margin-top: 0.75rem;
    /* margin: 0.20rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}

.faqitem:first-child {
    margin-top: 0rem;
}

.cta_send .main{
    font-size: 1.9rem;
    text-align: center;
    line-height: 2.5rem;
    margin-top: 0px;
}

.cta_content{
    padding: 2rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta_send .cta_box{
    display: flex;
    flex-direction: column;
}

.cta_items{
    margin: 0.625rem;
    border: 1px solid #00bdbe;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    text-align: center;
    
}

.cta_items:nth-child(2){
    margin: 0.625rem;
    border: 1px solid #00bdbe;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    font-size: 0.7rem;
    text-align: center;
    
}

.footers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding: 1rem; */
}

.footers img {
    height: 100%;
    margin: 0rem 0rem 0rem 0rem;
    display: block;
}

.footers ul.links {
  /* display: none; */
  margin: 0 1.2rem;
  width: 100%;
}

.footerdiv hr{ 
    width: 100%; 
    text-align: center; 
    margin-left: 0rem
}

.footer_icons{
    display: flex;
    margin: 0rem 0rem 0rem 0rem;
}

.copyright{
    /* margin: 0rem; */
    padding: 0.3rem;
}

.form-group {
    text-align: center;
}

.dashboard-menu {
    flex-wrap: wrap;
    /* overflow-x: scroll; */
}

.dashboard-header h2 {
    font-size: 2rem;
}

.dashboard-body {
    padding: 1rem 0rem;
    overflow: hidden;
}

.dashboard-menu p,
.dashboard-menu p.lighter {
    margin: 5px;
    height: 45px;
}

.transactions,
.support {
    margin: 1rem auto;
    width: 100%;
    /* width: 600px; */
    overflow-x: scroll;
}

.transactions .table-header,
.support .table-header,
.transactions .table-row,
.support .table-row {
    width: 600px;
    /* overflow-x: scroll; */
}

.support .support-header {
    flex-direction: column;
}

.support .support-header > h2,
.support .support-header > button {
    align-self: flex-start;
}

.support .support-header > h2 {
    margin-bottom: 2rem;
}

.edit-profile {
    margin: 1rem auto;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
}

.edit-profile .profile-picture {
    align-self: center;
    margin-bottom: 2rem;
}

.edit-profile .profile-form,
.edit-profile .profile-form .btnSmall {
    margin-left: 0px;
    width: 100%;
}

.balance-section,
.balance-section .balance {
    margin: 2rem auto;
    flex-direction: column;
}

.balance-section .balance .left-side {
    margin-bottom: 3rem;
}

.balance-section .amount {
    margin: 0;
}

.about-body .top {
    display: flex;
    flex-wrap: wrap;
}

.about-body .top .top_left {
    margin-left: 0rem;
    margin-bottom: 2rem;
}

.about-body .mission {
    flex-wrap: wrap;
    height: fit-content;
}

.about-body .mission .mission_left {
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
}

.about-body .mission .mission_left img {
    width: 100%;
}

.about-body .mission .mission_right {
    padding: 2rem;
}

.about-body .mission .mission_right p {
    line-height: 1.5rem;
}

}
